GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
FIREBASE_PROJECT_ID=invest-bot-3e7a9
REP_PANEL_URL=https://boardleaders.rf.gd/rep_panel.php
REP_CLASS_ID=4
REP_PASSWORD=104anakmrkalebyangkerenbngtwowamazinggantengnice
WHATSAPP_PHONE=62xxx
WHATSAPP_CALLMEBOT_APIKEY=your_callmebot_key
BOT_VERSION=1.1.0
BOT_CRON_SCHEDULE=0 4 * * *
STALE_EXECUTING_TIMEOUT_MS=300000
PREFIX_NAME="Class Mr Kalebbbbbbb"
CHROMIUM_PATH=/usr/bin/chromium
ALERT_ENABLED=false
# Set to false or 0 to disable automatic investment
INVEST_ENABLED=true
# Set to false or 0 to disable daily reward claiming
DAILY_REWARD_ENABLED=true

