GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
FIREBASE_PROJECT_ID=invest-bot-3e7a9
GAME_API_BASE_URL=https://api.game.com
GAME_API_TOKEN=your_game_token_here
WHATSAPP_PHONE=62xxx
WHATSAPP_CALLMEBOT_APIKEY=your_callmebot_key
BOT_VERSION=1.0.0
BOT_CRON_SCHEDULE=0 6 * * *
STALE_EXECUTING_TIMEOUT_MS=300000
